.footer{
    background-color: var(--tertiary-color);
    color: var(--box-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 1rem;
}
.footer *{
    background-color: var(--tertiary-color);
}
.footer h2{
    text-align: center;
}
.footer h2,
.footer p{
    color: var(--box-bg);
}
.footer > p{
    padding: 0 12rem;
}
.footer h2{
    text-transform: capitalize;
}
.reasons{
    display: flex;
    gap: 1rem;
}
.reasons div{
    border: 1px solid var(--box-bg);
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1 0 20%;
}
.reasons-icon{
    font-size: 2rem;
    fill: var(--box-bg);
}

@media screen and (max-width: 992px){
    .footer > p{
        padding: 0 10rem;
    }
}
@media screen and (max-width: 768px){
    .footer > p{
        padding: 0 10%;
    }
}
@media screen and (max-width: 576px){
    .reasons div{
        align-items: center;
        padding: .5rem 1rem;
    }
}