@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300;400;600&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Geologica', sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: var(--black);
  background: var(--bg);
}

:root{
  /* colors */
  --bg: #F7F7F7;
  --bg-blue: rgb(231, 240, 255);
  --bg-hover: #56A1FF;
  --box-bg: #f4f4ed;
  --primary-color: #0464FB;
  --secondary-color: #0721E3;
  --tertiary-color: #041F45;
  --light-green: #35FEE6;
  --brand-gradient: linear-gradient(90deg, #0721E3 0%, #0464FB 100%);
  --black: #1A1B1D;
  --grey-75: #1A1B1DBF;
  --grey-50: #1A1B1D80;
  --grey-25: #1A1B1D40;
  

  /* effects */
  --box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  --box-shadow-thick: 0px 4px 4px rgba(0, 0, 0, 0.2);

}
h2{
  color: var(--tertiary-color);
}
button{
  cursor: pointer;
}
.banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.banner h2{
  padding-top: 2rem;
}
.banner p{
  width: 50%;
  text-align: center;
  padding-bottom: 2rem;
}